  <div class="row">
    <div class="col-md-12 p-5" data-aos="fade-up" data-aos-duration="1000">
        <div class="card bg-transparent rounded-0 text-white touchCard">
      <div class="card-body">
          <h2>GET IN TOUCH : AMALJITH5828@GMAIL.COM</h2>
      </div>
    </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 p-5" data-aos="fade-up" data-aos-duration="1000">
        <div class="card bg-transparent rounded-0 border-0 text-white">
      <div class="card-body">
          <p>&#xa9; AMALJITH.A.M 2024</p>
      </div>
    </div>
    </div>
  </div>