  {% extends 'base.html' %}
  {% block content %}


    <section class="header">
        <div class="row">
            <div class="col-md-12 mt-5" data-aos="fade-up"   data-aos-duration="1000">
                <div class="card bg-transparent border-0 headerCard" style="max-width: 1200px" >
                  <div class="card-body" style="color: rgba(255, 245, 234, 1);">
                      <h1 class="mainTitle">Hello, I'm Amaljith.</h1>
                  </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="row">
            <div class="col-md-8 mt-5">
                <div class="card bg-transparent border-0" data-aos="fade-right" data-aos-duration="1000">
                  <div class="card-body" style="color: rgba(255, 245, 234, 1);">
                    <h2>I'm here to make the web a better place | Python Full Stack Developer.</h2>
                  </div>
                </div>
            </div>
            <div class="col-md-4 mt-5">
                <div class="card bg-transparent border-0 text-white" data-aos="fade-right" data-aos-duration="1000">
                  <div class="card-body" style="color: rgba(255, 245, 234, 1);">
                    <h2>Interested in working together?
                        <a href="static/file/AmaljithAM.pdf" download="Amaljth Resume" class="certificateLink"><span style="color: rgba(255, 245, 234, 1);">Check out my full resume here</span></a>
                    </h2>
                  </div>
                </div>
            </div>
        </div>
    </section>


  <!--ABOUT ME-->
  <section>
      <div class="row">
          <div class="col-md-12 p-5">
              <div class="card bg-transparent text-white rounded-0 cardHeader">
                  <div class="card-body" style="color: rgba(255, 245, 234, 1);">
                      <h1 class="cardName" data-aos="fade-up" data-aos-duration="1000">About Me.</h1>
                  </div>
                </div>
          </div>
      </div>

      <div class="row">
          <div class="col-md-12">
              <div class="card bg-transparent border-0 text-white" data-aos="fade-right" data-aos-duration="1000">
                  <div class="card-body" style="color: rgba(255, 245, 234, 1);">
                    <h2 style="text-align: justify; line-height: 1.5; font-weight: 300;">"Hi there!" I'm Amaljith, a Python Django web developer with a passion for building innovative web applications.
                        I'm currently working at InspireZest Technologies where I'm gaining valuable experience in  developing websites, both front and  back-end functionalities, building user interfaces with Django.
                    </h2>
                  </div>
                </div>
          </div>
      </div>
  </section>

    <!--TECHNICAL SKILLS-->
  <section>
      <div class="row">
          <div class="col-md-12 p-5">
              <div class="card bg-transparent text-white rounded-0 cardHeader">
                  <div class="card-body" style="color: rgba(255, 245, 234, 1);">
                      <h1 class="cardName" data-aos="fade-up" data-aos-duration="1000">Technical Skills.</h1>
                  </div>
                </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12 p-5" data-aos="fade-up" data-aos-duration="1000">
            <div class="card bg-transparent text-white rounded-0 skillCard" >
              <div class="card-body" style="color: rgba(255, 245, 234, 1);">
                <div class="row">
                    <div class="col-md-4">
                        <p class="card-text">PROGRAMMING LANGUAGE</p>
                        <h2 class="card-title">Python</h2>
                    </div>
                    <div class="col-md-4">
                        <h5 class="card-title">INTERMEDIATE</h5>
                        <p class="card-text">Understand Core Python Concepts & Can Build Functional Applications.</p>
                    </div>
                    <div class="col-md-4">
                        <p class="card-text">CERTIFICATIONS</p>
                        <a href="https://www.freecodecamp.org/certification/amal_jith/scientific-computing-with-python-v7" target="_blank" class="certificateLink">
                            <h5 class="card-title" style="color: rgba(255, 245, 234, 1);">freeCodeCamp &#x2197;</h5>
                        </a>
                        <a href="https://www.linkedin.com/learning/certificates/6797475a8679dfa1f4316607ef966b73c462fa0591fb4d439e6e7cdbd20ad43b?trk=share_certificate" target="_blank" class="certificateLink">
                            <h5 class="card-title" style="color: rgba(255, 245, 234, 1);">LinkedIn &#x2197;</h5>
                        </a>
                        <a href="https://www.credly.com/badges/0af43e78-0039-42c1-a771-f6df4624adb2" target="_blank" class="certificateLink">
                            <h5 class="card-title" style="color: rgba(255, 245, 234, 1);">CISCO &#x2197;</h5>
                        </a>
                    </div>
                </div>
              </div>
            </div>
          </div>
      </div>

        <div class="row">
          <div class="col-md-12 p-5" data-aos="fade-up" data-aos-duration="1000">
            <div class="card bg-transparent text-white rounded-0 skillCard">
              <div class="card-body" style="color: rgba(255, 245, 234, 1);">
                <div class="row">
                    <div class="col-md-4" style="color: rgba(255, 245, 234, 1);">
                        <p class="card-text"  >FRAMEWORKS</p>
                        <h2 class="card-title">Django</h2>
                        <h2 class="card-title">Flask</h2>
                    </div>
                    <div class="col-md-4">
                        <h5 class="card-title">INTERMEDIATE</h5>
                        <p class="card-text">Experienced and actively learning to improve knowledge in Django framework by following tutorials/documentations. I've built projects to solidify my understanding. </p>
                    </div>
                    <div class="col-md-4">
                        <p class="card-text">INTERNSHIP CERTIFICATE</p>
                        <h5 class="card-title">Inmakes Infotech Pvt. Ltd &#x2197;</h5>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 p-5" data-aos="fade-up" data-aos-duration="1000">
            <div class="card bg-transparent text-white rounded-0 skillCard">
              <div class="card-body" >
                <div class="row">
                    <div class="col-md-4" style="color: rgba(255, 245, 234, 1);">
                        <p class="card-text">WEB TECHNOLOGIES</p>
                        <h2 class="card-title">HTML</h2>
                        <h2 class="card-title">CSS</h2>
                        <h2 class="card-title">Bootstrap</h2>
                    </div>
                    <div class="col-md-4" style="color: rgba(255, 245, 234, 1);">
                        <h5 class="card-title">INTERMEDIATE</h5>
                        <p class="card-text"> Experienced in using HTML, CSS, Bootstrap's components and utilities to develop responsive web interfaces & actively learning to improve my skills.</p>
                    </div>
                    <div class="col-md-4" style="color: rgba(255, 245, 234, 1);">
                        <p class="card-text">CERTIFICATIONS</p>
                        <a href="https://www.freecodecamp.org/certification/amal_jith/responsive-web-design" target="_blank" class="certificateLink">
                            <h5 class="card-title">freeCodeCamp &#x2197;</h5>
                        </a>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      <div class="row">
          <div class="col-md-12 p-5" data-aos="fade-up" data-aos-duration="1000">
            <div class="card bg-transparent text-white rounded-0 skillCard">
              <div class="card-body" >
                <div class="row">
                    <div class="col-md-4" style="color: rgba(255, 245, 234, 1);">
                        <p class="card-text">DATABASE</p>
                        <h2 class="card-title">MySQL</h2>
                    </div>
                    <div class="col-md-4" style="color: rgba(255, 245, 234, 1);">
                        <h5 class="card-title">LEARNING</h5>
                        <p class="card-text"> Building my foundation in MySQL by learning core concepts like database creation, querying, and data manipulation.</p>
                    </div>
                    <div class="col-md-4" style="color: rgba(255, 245, 234, 1);">
                        <p class="card-text">CERTIFICATIONS</p>
<!--                        <a href="https://www.freecodecamp.org/certification/amal_jith/responsive-web-design" target="_blank" class="certificateLink">-->
<!--                            <h5 class="card-title">freeCodeCamp &#x2197;</h5>-->
<!--                        </a>-->
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>


  </section>

    <!--MY EXPERIENCE-->
  <section>
      <div class="row">
          <div class="col-md-12 p-5">
              <div class="card bg-transparent  rounded-0 cardHeader">
                  <div class="card-body" style="color: rgba(255, 245, 234, 1);">
                      <h1 class="cardName" data-aos="fade-up" data-aos-duration="1000">Building My Skills .</h1>
                  </div>
                </div>
          </div>
      </div>

      <div class="row">
          <div class="col-md-6 p-5" data-aos="fade-right" data-aos-duration="1000">
            <div class="card bg-transparent text-white rounded-0 connectCard">
              <div class="card-body" style="color: rgba(255, 245, 234, 1);">
                <p class="card-text">002</p>
                <h2 class="card-title">Junior Python Developer/Web Developer (Oct 2023 - Present) - InspireZest Technologies Pvt. Ltd</h2>
                <div class="d-flex justify-content-center text-align-center"><span class="material-symbols-outlined">arrow_outward</span></div>
              </div>
            </div>
          </div>
          <div class="col-md-6 p-5" data-aos="fade-left" data-aos-duration="1000">
            <div class="card bg-transparent text-white rounded-0 connectCard">
              <div class="card-body" style="color: rgba(255, 245, 234, 1);">
                <p class="card-text">001</p>
                <h2 class="card-title">Junior Python Developer Intern (Dec 2022 - June 2023) - Inmakes Infotech Pvt. Ltd</h2>
                <div class="d-flex justify-content-center text-align-center"><span class="material-symbols-outlined">arrow_outward</span></div>
              </div>
            </div>
          </div>
      </div>











  </section>

  <!--MY WORKS-->
  <section>
      <div class="row">
          <div class="col-md-12 p-5">
              <div class="card bg-transparent text-white rounded-0 cardHeader">
                  <div class="card-body"  style="color: rgba(255, 245, 234, 1);">
                      <h1 class="cardName" data-aos="fade-up" data-aos-duration="1000">My Works.</h1>
                  </div>
                </div>
          </div>
      </div>

      <div class="row">
          <div class="col-md-12 p-5" data-aos="fade-up" data-aos-duration="1000" >
            <a href="https://atriumdesignstudio.in/" target="_blank">
            <div class="card bg-transparent text-white rounded-0 workCard">
              <div class="card-body" style="color: rgba(255, 245, 234, 1);">
                <div class="row">
                    <div class="col-md-4">
                        <p class="card-text">006</p>
                        <h2 class="card-title">Atrium Design Studio</h2>
                    </div>
                    <div class="col-md-6">
                        <p class="card-text">INTERIOR DESIGN/HTML, CSS, BOOTSTRAP, PYTHON DJANGO, HOSTED ON CPANEL</p>
                        <h5 class="card-title">May 2024</h5>
                    </div>
                    <div class="col-md-2">
                        <div class="d-flex justify-content-center text-align-center"><span class="material-symbols-outlined">arrow_outward</span></div>
                    </div>
                </div>
              </div>
            </div>
            </a>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 p-5" data-aos="fade-up" data-aos-duration="1000">
            <a href="https://masknbuilders.com/" target="_blank">
            <div class="card bg-transparent text-white rounded-0 workCard">
              <div class="card-body" style="color: rgba(255, 245, 234, 1);">
                <div class="row">
                    <div class="col-md-4">
                        <p class="card-text">005</p>
                        <h2 class="card-title">Maskn Builders</h2>
                    </div>
                    <div class="col-md-6">
                        <p class="card-text">BUILDERS & DEVELOPERS/HTML, CSS, BOOTSTRAP, PYTHON DJANGO, HOSTED ON CPANEL</p>
                        <h5 class="card-title">Feb 2024</h5>
                    </div>
                    <div class="col-md-2">
                        <div class="d-flex justify-content-center text-align-center"><span class="material-symbols-outlined">arrow_outward</span></div>
                    </div>
                </div>
              </div>
            </div>
            </a>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 p-5" data-aos="fade-up" data-aos-duration="1000">
            <a href="https://www.sssamithi.in/" target="_blank">
            <div class="card bg-transparent text-white rounded-0 workCard">
              <div class="card-body" style="color: rgba(255, 245, 234, 1);">
                <div class="row">
                    <div class="col-md-4">
                        <p class="card-text">004</p>
                        <h2 class="card-title">S S Samithi</h2>
                    </div>
                    <div class="col-md-6">
                        <p class="card-text">TRUST ORGANISATION/HTML, CSS, BOOTSTRAP, PYTHON DJANGO, HOSTED ON CPANEL</p>
                        <h5 class="card-title">March 2024</h5>
                    </div>
                    <div class="col-md-2">
                        <div class="d-flex justify-content-center text-align-center"><span class="material-symbols-outlined">arrow_outward</span></div>
                    </div>
                </div>
              </div>
            </div>
            </a>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 p-5"  data-aos="fade-up" data-aos-duration="1000">
            <a href="https://harees-demo.onrender.com/" target="_blank">
            <div class="card bg-transparent text-white rounded-0 workCard">
              <div class="card-body" style="color: rgba(255, 245, 234, 1);">
                <div class="row">
                    <div class="col-md-4">
                        <p class="card-text">003</p>
                        <h2 class="card-title">Harees Jewellery</h2>
                    </div>
                    <div class="col-md-6">
                        <p class="card-text">JEWELLERY DEMO WEBSITE/HTML, CSS, BOOTSTRAP, PYTHON DJANGO, HOSTED ON RENDER</p>
                        <h5 class="card-title">Jan 2024</h5>
                    </div>
                    <div class="col-md-2">
                        <div class="d-flex justify-content-center text-align-center"><span class="material-symbols-outlined">arrow_outward</span></div>
                    </div>
                </div>
              </div>
            </div>
            </a>
          </div>
        </div>

      <div class="row">
          <div class="col-md-12 p-5"  data-aos="fade-up" data-aos-duration="1000">
            <a href="https://dental-demo.onrender.com/" target="_blank">
            <div class="card bg-transparent text-white rounded-0 workCard">
              <div class="card-body" style="color: rgba(255, 245, 234, 1);">
                <div class="row">
                    <div class="col-md-4">
                        <p class="card-text">002</p>
                        <h2 class="card-title">Dental Clinic (Demo)</h2>
                    </div>
                    <div class="col-md-6">
                        <p class="card-text">DENTAL CLINIC DEMO WEBSITE/HTML, CSS, BOOTSTRAP, PYTHON FLASK, HOSTED ON RENDER</p>
                        <h5 class="card-title">April 2024</h5>
                    </div>
                    <div class="col-md-2">
                        <div class="d-flex justify-content-center text-align-center"><span class="material-symbols-outlined">arrow_outward</span></div>
                    </div>
                </div>
              </div>
            </div>
            </a>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 p-5" data-aos="fade-up" data-aos-duration="1000">
            <a href="https://techkart.pythonanywhere.com/shop/" target="_blank">
            <div class="card bg-transparent text-white rounded-0 workCard">
              <div class="card-body" style="color: rgba(255, 245, 234, 1);">
                <div class="row">
                    <div class="col-md-4">
                        <p class="card-text">001</p>
                        <h3 class="card-title">Techkart.COM</h3>
                    </div>
                    <div class="col-md-6">
                        <p class="card-text">INTERNSHIP ECOMMERCE DEMO WEBSITE/HTML, CSS, BOOTSTRAP, PYTHON DJANGO, HOSTED ON PYTHONANYWHERE</p>
                        <h5 class="card-title">April 2023</h5>
                    </div>
                    <div class="col-md-2">
                        <div class="d-flex justify-content-center text-align-center"><span class="material-symbols-outlined">arrow_outward</span></div>
                    </div>
                </div>
              </div>
            </div>
            </a>
          </div>
        </div>

      <div class="row">
          <div class="col-md-12" data-aos="fade-up" data-aos-duration="1000" >
              <a href="/myWorks" class="certificateLink"><h2 class="text-center" style="color: rgba(255, 245, 234, 1);">Know More &#x2192;</h2></a>
          </div>
      </div>



  </section>


  <!--CONNECT WITH ME-->
    <section>
      <div class="row">
          <div class="col-md-12 p-5">
              <div class="card bg-transparent text-white rounded-0 cardHeader">
                  <div class="card-body" style="color: rgba(255, 245, 234, 1);">
                      <h1 class="cardName" data-aos="fade-up" data-aos-duration="1000">Connect With Me On.</h1>
                  </div>
                </div>
          </div>
      </div>

        <div class="row">
          <div class="col-md-4 p-5" data-aos="fade-up" data-aos-duration="1000">
            <a href="https://www.linkedin.com/in/amaljith-am/" target="_blank">
            <div class="card bg-transparent text-white rounded-0 connectCard">
              <div class="card-body" style="color: rgba(255, 245, 234, 1);">
                <p class="card-text">001</p>
                <h2 class="card-title">LinkedIn</h2>
                <div class="d-flex justify-content-center text-align-center"><span class="material-symbols-outlined">arrow_outward</span></div>
              </div>
            </div>
            </a>
          </div>

          <div class="col-md-4 p-5" data-aos="fade-up" data-aos-duration="1000">
            <a href="https://github.com/amal-jith" target="_blank">
            <div class="card bg-transparent text-white rounded-0 connectCard">
              <div class="card-body" style="color: rgba(255, 245, 234, 1);">
                <p class="card-text">002</p>
                <h2 class="card-title">GitHub</h2>
                <div class="d-flex justify-content-center text-align-center"><span class="material-symbols-outlined">arrow_outward</span></div>
              </div>
            </div>
            </a>
          </div>

          <div class="col-md-4 p-5" data-aos="fade-up" data-aos-duration="1000">
            <a href="https://www.freecodecamp.org/amal_jith" target="_blank">
            <div class="card bg-transparent text-white rounded-0 connectCard">
              <div class="card-body" style="color: rgba(255, 245, 234, 1);">
                <p class="card-text">003</p>
                <h2 class="card-title">FreeCodeCamp</h2>
                <div class="d-flex justify-content-center text-align-center"><span class="material-symbols-outlined">arrow_outward</span></div>
              </div>
            </div>
            </a>
          </div>


        </div>

  </section>





  {% endblock %}



