  {% extends 'base.html' %}
  {% block content %}

      <section class="header">
        <div class="row">
            <div class="col-md-12 mt-5" data-aos="fade-up"   data-aos-duration="1000">
                <div class="card bg-transparent border-0 text-white headerCard" style="max-width: 1200px" >
                  <div class="card-body">
                      <h1 style="color: rgba(255, 245, 234, 1);">My Works.</h1>
                  </div>
                </div>
            </div>
        </div>
        </section>

    <section>
        <div class="row">
            <div class="col-md-8 mt-5">
                <div class="card bg-transparent border-0 text-white" data-aos="fade-right" data-aos-duration="1000">
                  <div class="card-body" style="color: rgba(255, 245, 234, 1);">
                    <h2 style="text-align: justify;  line-height: 1.5; font-weight: 300;">My journey in web development is a continuous process of learning and creating.
                        I'm constantly expanding my skillset and building new websites. Seeing my projects come
                        to life is a huge motivator, and I'm excited to share more with you soon!
                    </h2>
                  </div>
                </div>
            </div>
        </div>
    </section>

  <section>
      <div class="row">

          <div class="col-md-6 p-5" data-aos="fade-up" data-aos-duration="1000">
                <div class="card bg-transparent myWorkCard text-white rounded-0" style="">
                  <img src="static/images/inizio.gif" class="card-img-top rounded-0" alt="...">
                  <div class="card-body" style="color: rgba(255, 245, 234, 1);">
                    <p class="card-text">009</p>
                    <h2 class="card-title">Educational Consultants (Live)</h2>
                    <p class="card-text">
                        A website designed for a educational consultants clinic with enquiry option to the users.
                        And it have a WhatsApp contact button which will be redirected to the WhatsApp chat.
                    </p>
                    <p class="card-text">
                        Built using HTML, CSS, Bootstrap for responsive design, and Django as the web framework.
                    </p>
                    <a href="https://iniziointernational.in/" target="_blank" class="certificateLink">
                        <div class="d-flex justify-content-center text-align-center" style="color: rgba(255, 245, 234, 1);">Visit the live website here
                            <span class="material-symbols-outlined">arrow_outward</span>
                        </div>
                    </a>
                  </div>
                </div>
          </div>

          <div class="col-md-6 p-5" data-aos="fade-up" data-aos-duration="1000">
                <div class="card bg-transparent myWorkCard text-white rounded-0" style="">
                  <img src="static/images/remal.gif" class="card-img-top rounded-0" alt="...">
                  <div class="card-body" style="color: rgba(255, 245, 234, 1);">
                    <p class="card-text">008</p>
                    <h2 class="card-title">LLC Firm in UAE (Live)</h2>
                    <p class="card-text">
                        A website designed for a UAE based company showcasing their services and products.
                    </p>
                    <p class="card-text">
                        Built using HTML, CSS, Bootstrap, jQuery, JS for responsive design, and Django as the web framework.
                    </p>
                    <a href="https://dentouchindia.co.in/" target="_blank" class="certificateLink">
                        <div class="d-flex justify-content-center text-align-center" style="color: rgba(255, 245, 234, 1);">Visit the live website here
                            <span class="material-symbols-outlined">arrow_outward</span>
                        </div>
                    </a>
                  </div>
                </div>
          </div>

          <div class="col-md-6 p-5" data-aos="fade-up" data-aos-duration="1000">
                <div class="card bg-transparent myWorkCard text-white rounded-0" style="">
                  <img src="static/images/dentouch.gif" class="card-img-top rounded-0" alt="...">
                  <div class="card-body" style="color: rgba(255, 245, 234, 1);">
                    <p class="card-text">007</p>
                    <h2 class="card-title">Dental Clinic (Live)</h2>
                    <p class="card-text">
                        A website designed for a dental clinic with booking facility to the users.
                        It allows patients to book an appointment and client receive the users details through mail service.
                    </p>
                    <p class="card-text">
                        Built using HTML, CSS, Bootstrap for responsive design, and Django as the web framework.
                    </p>
                    <a href="https://dentouchindia.co.in/" target="_blank" class="certificateLink">
                        <div class="d-flex justify-content-center text-align-center" style="color: rgba(255, 245, 234, 1);">Visit the live website here
                            <span class="material-symbols-outlined">arrow_outward</span>
                        </div>
                    </a>
                  </div>
                </div>
          </div>

          <div class="col-md-6 p-5" data-aos="fade-up" data-aos-duration="1000">
                <div class="card bg-transparent myWorkCard text-white rounded-0" style="">
                  <img src="static/images/atrium.gif" class="card-img-top rounded-0" alt="...">
                  <div class="card-body" style="color: rgba(255, 245, 234, 1);">
                    <p class="card-text">006</p>
                    <h2 class="card-title">Interior Design Studio (Live)</h2>
                    <p class="card-text">
                        This website is a professional portfolio website designed for a company of interior design studio.
                        It showcases their services, projects, and contact information.
                    </p>
                    <p class="card-text">
                        Built using HTML, CSS, Bootstrap for responsive design, and Django as the web framework.
                    </p>
                    <a href="https://atriumdesignstudio.in/" target="_blank" class="certificateLink">
                        <div class="d-flex justify-content-center text-align-center" style="color: rgba(255, 245, 234, 1);">Visit the live website here
                            <span class="material-symbols-outlined">arrow_outward</span>
                        </div>
                    </a>
                  </div>
                </div>
          </div>

          <div class="col-md-6 p-5" data-aos="fade-up" data-aos-duration="1000">
                <div class="card bg-transparent myWorkCard text-white rounded-0" style="">
                  <img src="static/images/maskn.gif" class="card-img-top rounded-0" alt="...">
                  <div class="card-body" style="color: rgba(255, 245, 234, 1);">
                    <p class="card-text">005</p>
                    <h2 class="card-title">Builders & Developers (Live)</h2>
                    <p class="card-text">
                        This website is a professional portfolio website designed for a company of builders and developers.
                        It showcases their services, projects, and contact information.
                    </p>
                    <p class="card-text">
                        Built using HTML, CSS, Bootstrap for responsive design, and Django as the web framework.
                    </p>
                    <a href="https://masknbuilders.com/" target="_blank" class="certificateLink">
                        <div class="d-flex justify-content-center text-align-center" style="color: rgba(255, 245, 234, 1);">Visit the live website here
                            <span class="material-symbols-outlined">arrow_outward</span>
                        </div>
                    </a>
                  </div>
                </div>
          </div>

          <div class="col-md-6 p-5" data-aos="fade-up" data-aos-duration="1000">
                <div class="card bg-transparent myWorkCard text-white rounded-0" style="">
                  <img src="static/images/sssamithi.gif" class="card-img-top rounded-0" alt="...">
                  <div class="card-body" style="color: rgba(255, 245, 234, 1);">
                    <p class="card-text">004</p>
                    <h2 class="card-title">Trust & Charity Organisation (Live)</h2>
                    <p class="card-text">
                        This website serves as the online presence for S S Samithi, a non-profit organization dedicated
                        to poor & needy. The website aims to raise awareness about their mission, attract donations, and provide
                        information about their programs and beneficiaries.
                    </p>
                    <p class="card-text">
                        Built using HTML, CSS, Bootstrap for responsive design, and it allow for easy content updates.
                    </p>
                    <a href="https://www.sssamithi.in/" target="_blank" class="certificateLink">
                        <div class="d-flex justify-content-center text-align-center" style="color: rgba(255, 245, 234, 1);">Visit the live website here
                            <span class="material-symbols-outlined">arrow_outward</span>
                        </div>
                    </a>
                  </div>
                </div>
          </div>

          <div class="col-md-6 p-5" data-aos="fade-up" data-aos-duration="1000">
                <div class="card bg-transparent myWorkCard text-white rounded-0" style="">
                  <img src="static/images/harees.gif" class="card-img-top rounded-0" alt="...">
                  <div class="card-body" style="color: rgba(255, 245, 234, 1);">
                    <p class="card-text">003</p>
                    <h2 class="card-title">Jewellery Group (Interactive Prototype)</h2>
                    <p class="card-text">
                        This interactive jewelry website demo showcases the potential of a user-friendly online platform
                        for jewelers. It allows them to visualize how their products would be presented online, highlighting
                        features that can enhance customer experience and sales.
                    </p>
                    <p class="card-text">
                        Built using HTML, CSS, JavaScript Django framework for interactivity.
                    </p>
                    <a href="https://harees-demo.onrender.com/" target="_blank" class="certificateLink">
                        <div class="d-flex justify-content-center text-align-center" style="color: rgba(255, 245, 234, 1);">Visit the live website here
                            <span class="material-symbols-outlined">arrow_outward</span>
                        </div>
                    </a>
                  </div>
                </div>
          </div>

          <div class="col-md-6 p-5" data-aos="fade-up" data-aos-duration="1000">
                <div class="card bg-transparent myWorkCard text-white rounded-0" style="">
                  <img src="static/images/dental.gif" class="card-img-top rounded-0" alt="...">
                  <div class="card-body" style="color: rgba(255, 245, 234, 1);">
                    <p class="card-text">002</p>
                    <h2 class="card-title">Dental Clinic (Demo)</h2>
                    <p class="card-text">
                        A demo website for a dental clinic showcasing there services, departments, features etc.
                    </p>
                    <p class="card-text">
                        Built using HTML, CSS, Bootstrap for responsive design, and Flask as the web framework.
                    </p>
                    <a href="https://dental-demo.onrender.com/" target="_blank" class="certificateLink">
                        <div class="d-flex justify-content-center text-align-center" style="color: rgba(255, 245, 234, 1);">Visit the live website here
                            <span class="material-symbols-outlined">arrow_outward</span>
                        </div>
                    </a>
                  </div>
                </div>
          </div>

          <div class="col-md-6 p-5" data-aos="fade-up" data-aos-duration="1000">
                <div class="card bg-transparent myWorkCard text-white rounded-0" style="">
                  <img src="static/images/techkart.gif" class="card-img-top rounded-0" alt="...">
                  <div class="card-body" style="color: rgba(255, 245, 234, 1);">
                    <p class="card-text">001</p>
                    <h2 class="card-title">Tech Website Internship Project</h2>
                    <p class="card-text">
                        This tech website, developed during my internship at Inmakes Infotech Pvt. Ltd, focuses on  product details and option to buy.
                        It aims to provide valuable information and resources.
                    </p>
                    <p class="card-text">
                        I contributed to the development of this website by utilizing HTML, CSS, JavaScript and Django Framework.
                    </p>
                    <a href="https://techkart.pythonanywhere.com/shop/" target="_blank" class="certificateLink">
                        <div class="d-flex justify-content-center text-align-center" style="color: rgba(255, 245, 234, 1);">Visit the live website here
                            <span class="material-symbols-outlined">arrow_outward</span>
                        </div>
                    </a>
                  </div>
                </div>
          </div>

      </div>
  </section>


  {% endblock %}
