<nav class="navbar navbar-dark bg-dark fixed-top bg-transparent">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><h3 class="navTitle">amaljith.</h3></a>
    <button class="navbar-toggler rounded-circle" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-white" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel" style="font-weight: 600;">amaljith. a. m</h5>
        <button type="button" class="btn-close btn-close-dark" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body ">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active navLink" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navLink" href="/myWorks">My Works</a>
          </li>
<!--          <li class="nav-item">-->
<!--            <a class="nav-link navLink" href="/myResume">My Resume</a>-->
<!--          </li>-->
        </ul>
      </div>


    <section class="m-4">
      <div class="card bg-transparent border-0">
        <h3>Connect With Me On.</h3>
        <div class="card-body">
          <div class="row">
            <div class="col-md-3">
              <a href="https://www.linkedin.com/in/amaljith-am/" target="_blank"><i class='bx bxl-linkedin socialLink' ></i></a>
            </div>
            <div class="col-md-3">
              <a href="https://github.com/amal-jith" target="_blank"><i class='bx bxl-github socialLink' ></i></a>
            </div>
            <div class="col-md-3">
              <a href="https://www.freecodecamp.org/amal_jith" target="_blank"><i class='bx bxs-hot socialLink'></i></a>
            </div>
            <div class="col-md-3">
              <a href="#"><i class='bx bx-phone-call socialLink' ></i></a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="m-4">
      <div class="card bg-transparent border-0">
        <div class="card-body">
          <div class="row">
            <div class="col-md-3">
<!--              <a href="#"><i class='bx bxl-whatsapp socialLink' ></i></a>-->
            </div>
            <div class="col-md-3">
<!--              <a href="#"><i class='bx bxl-facebook socialLink'></i></a>-->
            </div>
            <div class="col-md-3">
<!--              <a href="#"><i class='bx bxl-instagram socialLink' ></i></a>-->
            </div>
            <div class="col-md-3">
<!--              <a href="#"></a>-->
            </div>
          </div>
        </div>
      </div>
    </section>

    </div>
  </div>
</nav>
